ul{
        float: right;
    margin: 12px;
    margin-top: 0px;
}

li {
    margin: 12px;
}

ul li{
    display: inline-block;
}

ul li a{
    color:rgb(0, 0, 0);
}

.text1{
    text-align: center;
    font-size: 9px;
}
.text1{
    text-align: center;
    font-size: 20px;
}
.text2{
    text-align: center;
    font-size: 15px;
}